<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Shop</title>
  <link rel="stylesheet" href="/web/output.css">
  <link rel="stylesheet" href="res.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body >
  
  <div class="swiper-container swiper-initialized swiper-horizontal swiper-backface-hidden">
    <div class="swiper-wrapper" id="swiper-wrapper-e1e10ea8e5e3d8e29" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(-1912px, 0px, 0px); transition-delay: 0ms;">
        <div class="swiper-slide swiper-slide-prev" role="group" aria-label="3 / 5" data-swiper-slide-index="2" style="width: 1912px;">
            <img class="max-w-full max-h-full object-contain" src="https://storage.googleapis.com/a1aa/image/N9dizBOx2SJdHVixCb4r9aXxeesnPaeTz3O7WBrhJF2L2EXnA.jpg">
        </div>
        <div class="swiper-slide swiper-slide-active" role="group" aria-label="4 / 5" data-swiper-slide-index="3" style="width: 1912px;">
            <img class="max-w-full max-h-full object-contain" src="https://storage.googleapis.com/a1aa/image/yw9ZeDiZJUz8NSdOaGe6ubLotkRe0gPRVp5ymbrsrrlD2EXnA.jpg">
        </div>
        <div class="swiper-slide swiper-slide-next" role="group" aria-label="5 / 5" data-swiper-slide-index="4" style="width: 1912px;">
            <img class="max-w-full max-h-full object-contain" src="https://storage.googleapis.com/a1aa/image/uE07vUGvkcKwLZwIW8ffBoGdgPhOSaa53OKWrbbyoS7CbirTA.jpg">
        </div>
        <div class="swiper-slide" role="group" aria-label="1 / 5" data-swiper-slide-index="0" style="width: 1912px;">
            <img class="max-w-full max-h-full object-contain" src="https://storage.googleapis.com/a1aa/image/fmDARFtIQjSf30UXoeiN5j4K18zdm5mt1uAXwel6JphCsJuOB.jpg">
        </div>
        <div class="swiper-slide" role="group" aria-label="2 / 5" data-swiper-slide-index="1" style="width: 1912px;">
            <img class="max-w-full max-h-full object-contain" src="https://storage.googleapis.com/a1aa/image/fmDARFtIQjSf30UXoeiN5j4K18zdm5mt1uAXwel6JphCsJuOB.jpg">
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
        <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
        <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
        <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 4" aria-current="true"></span>
        <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span>
    </div>
    <!-- Add Navigation -->
    <div class="swiper-button-next z-10" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-e1e10ea8e5e3d8e29"></div>
    <div class="swiper-button-prev z-10" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-e1e10ea8e5e3d8e29"></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>


</body>
</html>
