.navlink {
  font-size: 15px;
  font-weight: 400;
  color: #99A4DA;
  transition: color 0.1s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.navlink:hover {
  color: #ffffff;
}

.combolink {
  font-size: 15px;
  font-weight: 600;
  color: #1DD5CA;
  transition: color 0.1s ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.combolink:hover {
  color: #ffffff;
}

.containerComboLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 190px;
}

.fb-link {
  right: 320px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  position: fixed;
  cursor: pointer;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.fb-link:hover {
  background-color: #1DD5CA;
}

.ig-link {
  right: 280px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  position: fixed;
  cursor: pointer;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.ig-link:hover {
  background-color: #1DD5CA;
}

.twitter-link {
  right: 240px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  position: fixed;
  cursor: pointer;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.twitter-link:hover {
  background-color: #1DD5CA;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchInput {
  border: 1px solid #d1d5db;
  width: 330px;
  height: 70px;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  margin-right: 1rem;
  font-family: "Montserrat", sans-serif;
  padding-left: 70px;
  transition: border-color 0.3s ease-in-out, border-width 0.3s ease;
}

.searchInput:focus {
  border-color: #000000;
  border-width: 2px;
}


.searchButton {
  position: absolute;
  margin-left: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.searchButton:hover i {
  color: #000000 !important;
  transition: color 0.3s ease;
}

.shopallButton {
  display: flex;
  height: 70px;
  width: 150px;
  background-color: #FFC94A;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.shopallButton:hover {
  background-color: black;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
  /* Đặt font Montserrat */
}

.eventButton {
  display: flex;
  height: 70px;
  width: 150px;
  background-color: #5725CB;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.eventButton:hover {
  background-color: black;
}

.horizontal-line {
  height: 2px;
  background-color: #ebebeb;
  margin: 20px 0;
  width: 80%;
  margin-left: 190px;
}

.cartInShop {
  margin-left: 40px;
  background-color: rgb(243 244 246);
  width: 450px;
  height: 250px;
  margin-bottom: 30px;
  padding-top: 60px;
  padding-left: 77px;
}

.productCategories {
  margin-left: 40px;
  background-color: rgb(243 244 246);
  width: 450px;
  height: 450px;
  margin-bottom: 30px;
  padding-top: 60px;
  padding-left: 77px;
  cursor: pointer;
}

.ageFilter{
  margin-left: 40px;
  background-color: rgb(243 244 246);
  width: 450px;
  height: 320px;
  margin-bottom: 30px;
  padding-top: 60px;
  padding-left: 77px;
  cursor: pointer;
}

.priceFilter{
  margin-bottom: 32px;
  background-color: rgb(243 244 246);
  width: 450px;
  height: 367px;
  margin-left: 40px;
}

.priceFilterbtn:hover  {
  background-color: #5725CB;
}

.priceFilter button{
  width: 290px;
  height: 80px;
  margin-left: 77px;
  margin-bottom: 50px;
}

.cate-list {
  list-style-type: disc;
  list-style-position: inside;
}

.cate-list li::marker {
  color: #5725CB;
}

.cate-list li {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 18px;
}

.cate-list li:hover {
  color: #5725CB;
}

.gridViewButtonContainer {
  display: flex;
  height: 80px;
  width: 145px;
  border-width: 4px;
  padding-right: 25px;
  padding-left: 25px;
  justify-content: space-between;
  gap: 16px;
}

.softSelection {
  position: relative;
  display: inline-block;
  margin-left: 287px;

  width: 370px;
}

.softSelection button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.softSelection select {
  width: 100%;
  height: 80px;
  padding-left: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 48px;
  border-width: 4px;
  border-color: rgb(243, 244, 246);
  font-family: 'Montserrat', sans-serif;
  color: #7b7c7e;
  outline: none;
  appearance: none;
}

.softSelection::after {
  content: '\02C7';
  font-size: 45px;
  color: #949597;
  position: absolute;
  top: 65%;
  right: 30px;
  transform: translateY(-50%);
  pointer-events: none;
}


.productCard {
  width: 390px;
  height: 475px;
  margin-bottom: 20px;
}

.flex.justify-center {
  display: flex;
  justify-content: center;
  height: 100%;
}

.product-info {
  margin-top: -150px;
}


.divider {
  margin-top: 22px;
  width: 2px;
  height: 26px;
  background-color: #c9ccd3;
}

.line-view:hover i {
  transition-duration: 500ms;
  color: #5725CB !important;
}

.line-view.active i {
  color: black;
  transition-duration: 300;
}

.cate-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.star-group {
  font-size: 12px;
}

.productName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 22px;
}

.cate-of-product:hover {
  color: #000000;
}

.productName:hover {
  color: #5725CB;
}

.linkFooter:hover {
  color: #1dd5ca;
}

.inforButton:hover{
  background-color: white;
}