<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <!-- Open Sans Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap" rel="stylesheet">

    <!-- Fontawesome Icons v6.1.1 -->
    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
    <title>HEAL IN</title>
    <link rel="icon" type="image/png" href="/web/resources/image/icon-2.png">
</head>

<body>


    <div class="carousel">
        <div class="carousel-images" id="carousel-images">
            <img src="/web/resources/image/carousel-1.jpg" alt="Slide 1">
            <img src="/web/resources/image/carousel-2.jpg" alt="Slide 2">
            <img src="/web/resources/image/carousel-3.jpg" alt="Slide 3">
        </div>
        <button class="carousel-button left" id="prev">
            <i class="fa-solid fa-arrow-right fa-rotate-180 duration-300"></i>
        </button>
        <button class="carousel-button right" id="next">
            <i class="fa-solid fa-arrow-right duration-300"></i>
        </button>
        <div class="carousel-dots" id="carousel-dots"></div>
    </div>

    <button id="scrollUpBtn" class="scroll-up-button"><i class="fa-solid fa-arrow-up"></i></button>

    <header>
        <!-- Navbar -->
        <nav aria-label="Global">
            <div class="logo">
                <a href="#">
                    <img style="height: 100px; width: auto;" src="/web/resources/image/icon-2.png" alt="logo">
                </a>
            </div>

            <!-- Centered Desktop Links -->
            <div class="navlink-container"> <!-- Center the links -->
                <a href="http://127.0.0.1:5500/web/views/home/home.html" class="nav-link active">Home</a>
                <a href="http://127.0.0.1:5500/web/views/game/cardanimation2.html" class="nav-link">Play Demo Game</a>
                <a href="#event-section" class="nav-link">Event</a>
                <a href="#aboutus-section" class="nav-link">About Us</a>
                <a href="http://127.0.0.1:5500/web/views/shop/shop.html" class="nav-link">Online Shop</a>
                <a href="#" class="nav-link">Contact</a>
            </div>


            <!-- Icons and Mobile Menu Button -->
            <div class="icon-menu-container"> <!-- Grouped parent container -->
                <!-- Icons -->
                <div class="icon-container">
                    <a href="">
                        <img class="iconShop" width="10" height="10"
                            src="https://img.icons8.com/ios/50/online-store.png" alt="online-store" />
                    </a>
                    <a href="">
                        <img class="iconUser" width="70" height="70" src="https://img.icons8.com/comic/100/user.png"
                            alt="user" />
                    </a>
                    <a href="">
                        <img class="iconBasket" width="30" height="30"
                            src="https://img.icons8.com/ios-filled/50/wicker-basket--v1.png" alt="basket" />
                    </a>

                </div>

                <!-- Mobile menu button (visible on mobile only) -->
                <div class="menu-mobile">
                    <button type="button" class="mobile-menu-Btn" id="mobile-menu-button">
                        <span class="sr-only">Open main menu</span>
                        <i class="fa-solid fa-bars fa-2xl"></i>
                    </button>
                </div>

                <!-- Login button (visible on large screens only) -->
                <div>
                    <a href="http://127.0.0.1:5500/web/views/login/login.html?" class="loginBtn">
                        LOG IN
                    </a>
                </div>
            </div>
        </nav>

        <!-- Overlay -->
        <div id="overlay" class="overlay"></div>

        <!-- Mobile menu -->
        <div id="mobile-menu" class="menu-mobile-link">
            <a href="#" class="mobile-menu-link">Home</a>
            <a href="http://127.0.0.1:5500/web/views/game/cardanimation2.html" class="mobile-menu-link">Play Demo
                Game</a>
            <a href="#event-section" class="mobile-menu-link scroll-link">Event</a>
            <a href="#aboutus-section" class="mobile-menu-link scroll-link">About Us</a>
            <a href="#" class="mobile-menu-link">Online Shop</a>
            <a href="#" class="mobile-menu-link">Contact</a>
        </div>
    </header>

    <!-- introduction -->
    <div class="intro-section">
        <div class="intro-image-container">
            <img alt="Two people playing foosball on a small table" src="/web/resources/image/about.jpg" />
        </div>
        <div class="intro-des-container">
            <h2>Welcome to Our Club</h2>
            <h1>We Are a Board Game</h1>
            <p>
                We're a mixed bag of game players. Some of us have been playing board games for ages, some of us
                have only just begun to discover the wealth of board games out there.
            </p>
            <p>
                Some of us prefer
                <span>Euros</span>, others are more interested in the
                <span>American style</span>, dripping with theme board games. Some of us like abstracts. Some of us just
                like everything. All
                of us like to play games and just having a good time.
            </p>
            <button class="visit-shop-btn">
                VISIT THE GAME SHOP
            </button>
        </div>
    </div>


    <!-- Event -->
    <div id="event-section">
        <div class="event-container">
            <h1>
                UPCOMING EVENTS
            </h1>

            <button class="event-carousel-button left" id="event-prev">
                <i class="fa-solid fa-arrow-right fa-rotate-180 "></i>
            </button>
            <button class="event-carousel-button right" id="event-next">
                <i class="fa-solid fa-arrow-right "></i>
            </button>

            <div style="position: relative;">
                <div class="carousel-wrapper">
                    <div class="carousel-container" id="carousel-container">

                        <!-- card1 -->
                        <div class="card-event carousel-card">
                            <div class="img-card-event">
                                <img alt="People playing a board game" class="img-card" height="253"
                                    src="/web/resources/image/event-1.jpg" width="450" />
                                <div class="img-card-infor">
                                    <p class="day-event">13</p>
                                    <p class="month-event">JUL</p>
                                </div>
                            </div>
                            <div class="infor-card-event">
                                <h2 class="event-name">Card Poker Competition</h2>
                                <hr class="seperated-line-event">
                                <p class="event-place">
                                    <img style="margin-right: 0.5rem;" src="/web/resources/icon/icon-location.svg"
                                        alt="">
                                    Canada, Scarborough
                                </p>
                            </div>
                        </div>


                        <!-- card2 -->
                        <div class="card-event carousel-card">
                            <div class="img-card-event">
                                <img alt="People playing a board game" class="img-card" height="253"
                                    src="/web/resources/image/event-2.jpg" width="450" />
                                <div class="img-card-infor">
                                    <p class="day-event">03</p>
                                    <p class="month-event">JUL</p>
                                </div>
                            </div>
                            <div class="infor-card-event">
                                <h2 class="event-name">Card Poker Competition</h2>
                                <hr class="seperated-line-event">
                                <p class="event-place">
                                    <img style="margin-right: 0.5rem;" src="/web/resources/icon/icon-location.svg"
                                        alt="">
                                    Canada, Scarborough
                                </p>
                            </div>
                        </div>

                        <!-- card3 -->
                        <div class="card-event carousel-card">
                            <div class="img-card-event">
                                <img alt="People playing a board game" class="img-card" height="253"
                                    src="/web/resources/image/event-3.jpg" width="450" />
                                <div class="img-card-infor">
                                    <p class="day-event">03</p>
                                    <p class="month-event">JUL</p>
                                </div>
                            </div>
                            <div class="infor-card-event">
                                <h2 class="event-name">Card Poker Competition</h2>
                                <hr class="seperated-line-event">
                                <p class="event-place">
                                    <img style="margin-right: 0.5rem;" src="/web/resources/icon/icon-location.svg"
                                        alt="">
                                    Canada, Scarborough
                                </p>
                            </div>
                        </div>

                        <!-- card1 -->
                        <div class="card-event carousel-card">
                            <div class="img-card-event">
                                <img alt="People playing a board game" class="img-card" height="253"
                                    src="/web/resources/image/event-1.jpg" width="450" />
                                <div class="img-card-infor">
                                    <p class="day-event">03</p>
                                    <p class="month-event">JUL</p>
                                </div>
                            </div>
                            <div class="infor-card-event">
                                <h2 class="event-name">Card Poker Competition</h2>
                                <hr class="seperated-line-event">
                                <p class="event-place">
                                    <img style="margin-right: 0.5rem;" src="/web/resources/icon/icon-location.svg"
                                        alt="">
                                    Canada, Scarborough
                                </p>
                            </div>
                        </div>


                        <!-- card2 -->
                        <div class="card-event carousel-card">
                            <div class="img-card-event">
                                <img alt="People playing a board game" class="img-card" height="253"
                                    src="/web/resources/image/event-2.jpg" width="450" />
                                <div class="img-card-infor">
                                    <p class="day-event">03</p>
                                    <p class="month-event">JUL</p>
                                </div>
                            </div>
                            <div class="infor-card-event">
                                <h2 class="event-name">Card Poker Competition</h2>
                                <hr class="seperated-line-event">
                                <p class="event-place">
                                    <img style="margin-right: 0.5rem;" src="/web/resources/icon/icon-location.svg"
                                        alt="">
                                    Canada, Scarborough
                                </p>
                            </div>
                        </div>

                        <!-- card3 -->
                        <div class="card-event carousel-card">
                            <div class="img-card-event">
                                <img alt="People playing a board game" class="img-card" height="253"
                                    src="/web/resources/image/event-3.jpg" width="450" />
                                <div class="img-card-infor">
                                    <p class="day-event">03</p>
                                    <p class="month-event">JUL</p>
                                </div>
                            </div>
                            <div class="infor-card-event">
                                <h2 class="event-name">Card Poker Competition</h2>
                                <hr class="seperated-line-event">
                                <p class="event-place">
                                    <img style="margin-right: 0.5rem;" src="/web/resources/icon/icon-location.svg"
                                        alt="">
                                    Canada, Scarborough
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- video -->

    <div class="video-section">
        <!-- Text Section -->
        <div class="text-video-section">
            <p class="text-comment">"This is a sample comment to demonstrate the layout."</p>
            <p class="commentor">- John Doe</p>
        </div>
        <!-- Video Section -->
        <div class="video-container">
            <video controls class="main-video">
                <source src="/web/resources/video/10 Second Video Loop.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <!-- team -->
    <div id="aboutus-section">

        <h1>OUR TEAM</h1>

        <div class="member-container">
            <!-- member1 -->
            <div class="member-card-container">
                <div class="img-member-container">
                    <img alt="Portrait of Samuel Wilson"
                        src="https://storage.googleapis.com/a1aa/image/VWiU5BxRSGLQC54SooQgCOXiGyjuBZI9zPVcmPJdyRsethyJA.jpg" />
                </div>
                <h2 class="member-name">Samuel Wilson</h2>
                <p class="member-role">co-founder</p>
                <div class="member-contact-container">
                    <a class="fb-member-link" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="ig-member-link" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="x-member-link" href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
            </div>

            <!-- member2 -->
            <div class="member-card-container">
                <div class="img-member-container">
                    <img alt="Portrait of Samuel Wilson"
                        src="https://storage.googleapis.com/a1aa/image/VWiU5BxRSGLQC54SooQgCOXiGyjuBZI9zPVcmPJdyRsethyJA.jpg" />
                </div>
                <h2 class="member-name">Samuel Wilson</h2>
                <p class="member-role">co-founder</p>
                <div class="member-contact-container">
                    <a class="fb-member-link" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="ig-member-link" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="x-member-link" href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
            </div>

            <!-- member3 -->
            <div class="member-card-container">
                <div class="img-member-container">
                    <img alt="Portrait of Samuel Wilson"
                        src="https://storage.googleapis.com/a1aa/image/VWiU5BxRSGLQC54SooQgCOXiGyjuBZI9zPVcmPJdyRsethyJA.jpg" />
                </div>
                <h2 class="member-name">Samuel Wilson</h2>
                <p class="member-role">co-founder</p>
                <div class="member-contact-container">
                    <a class="fb-member-link" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="ig-member-link" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="x-member-link" href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
            </div>

            <!-- member4 -->
            <div class="member-card-container">
                <div class="img-member-container">
                    <img alt="Portrait of Samuel Wilson"
                        src="https://storage.googleapis.com/a1aa/image/VWiU5BxRSGLQC54SooQgCOXiGyjuBZI9zPVcmPJdyRsethyJA.jpg" />
                </div>
                <h2 class="member-name">Samuel Wilson</h2>
                <p class="member-role">co-founder</p>
                <div class="member-contact-container">
                    <a class="fb-member-link" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="ig-member-link" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="x-member-link" href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
            </div>

            <!-- member5 -->
            <div class="member-card-container">
                <div class="img-member-container">
                    <img alt="Portrait of Samuel Wilson"
                        src="https://storage.googleapis.com/a1aa/image/VWiU5BxRSGLQC54SooQgCOXiGyjuBZI9zPVcmPJdyRsethyJA.jpg" />
                </div>
                <h2 class="member-name">Samuel Wilson</h2>
                <p class="member-role">co-founder</p>
                <div class="member-contact-container">
                    <a class="fb-member-link" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="ig-member-link" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="x-member-link" href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
            </div>

            <!-- member6 -->
            <div class="member-card-container">
                <div class="img-member-container">
                    <img alt="Portrait of Samuel Wilson"
                        src="https://storage.googleapis.com/a1aa/image/VWiU5BxRSGLQC54SooQgCOXiGyjuBZI9zPVcmPJdyRsethyJA.jpg" />
                </div>
                <h2 class="member-name">Samuel Wilson</h2>
                <p class="member-role">co-founder</p>
                <div class="member-contact-container">
                    <a class="fb-member-link" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="ig-member-link" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="x-member-link" href="#">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!-- Game Journal -->
    <div class="game-journal">
        <!-- Description Section -->

        <div class="gj-des-section">

            <h1>Game Journal</h1>

            <div class="article-container">
                <!-- First Article -->
                <div>
                    <div class="fisrt-article-img-container group">
                        <img alt="People celebrating with drinks" class="fisrt-article-img" height="276"
                            src="/web/resources/image/gamejornal1.jpg" width="490" />
                        <span class="article-tag">
                            NEW RULES
                        </span>
                    </div>

                    <h2 class="article-title">
                        5 Old Favourite Games Revived
                    </h2>
                    <div class="interact-data">
                        <i class="far fa-calendar-alt" style="margin-right: 0.5rem "></i>
                        May 28, 2019
                        <i class="far fa-comment" style="margin-left: 1rem; margin-right: 0.5rem;"></i>
                        0
                        <i class="fas fa-fire" style="margin-left: 1rem; margin-right: 0.5rem;"></i>
                        0
                    </div>

                    <p class="article-content">
                        It seems people have been playing chess and checkers for ages. So what are the reasons for
                        games
                        with a long history to be in great request nowadays?
                    </p>
                    <a class="contn-reading-btn underline-effect" href="#">
                        CONTINUE READING
                    </a>
                </div>

                <!-- Second Article -->
                <div>
                    <div class="fisrt-article-img-container group">
                        <img alt="People celebrating with drinks" class="fisrt-article-img" height="276"
                            src="/web/resources/image/gamejornal1.jpg" width="490" />
                        <span class="article-tag">
                            NEW RULES
                        </span>
                    </div>

                    <h2 class="article-title">
                        5 Old Favourite Games Revived
                    </h2>
                    <div class="interact-data">
                        <i class="far fa-calendar-alt" style="margin-right: 0.5rem "></i>
                        May 28, 2019
                        <i class="far fa-comment" style="margin-left: 1rem; margin-right: 0.5rem;"></i>
                        0
                        <i class="fas fa-fire" style="margin-left: 1rem; margin-right: 0.5rem;"></i>
                        0
                    </div>

                    <p class="article-content">
                        It seems people have been playing chess and checkers for ages. So what are the reasons for
                        games
                        with a long history to be in great request nowadays?
                    </p>
                    <a class="contn-reading-btn underline-effect" href="#">
                        CONTINUE READING
                    </a>
                </div>

            </div>
        </div>

        <!-- Right Section -->
        <div class="fb-infor-section">
            <h1>Facebook</h1>

            <div class="fb-frame">
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffcbarcelona&tabs=timeline&width=380&height=490&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="380" height="490" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>

            <button class="followbtn">
                FOLLOW US ON FACEBOOK
            </button>
        </div>

    </div>

    <!-- SUBSCRIBE -->
    <div class="subscribe-section">
        <div class="subscribe-container">
            <div class="subscribe-form">
                <h2>Newsletter</h2>
                <input type="email" placeholder="Enter E-mail" >
                <button>SUBSCRIBE NOW</button>
            </div>
            <div class="policy-container">
                <input  type="checkbox" >
                <label for="privacy">I agree to the
                    <a href="#" >Privacy Policy</a>.
                </label>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>HEAL IN © 2024. All rights reserved.</p>
    </footer>


    <script src="home.js"></script>
</body>

</html>